:root {
    --subtitle-color: #6E7377;
}

@font-face {
    font-family: 'Objectivity';
    src: url('/fonts/objectivity/Objectivity-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('/fonts/objectivity/Objectivity-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('/fonts/objectivity/Objectivity-Black.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('/fonts/objectivity/Objectivity-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/Nunito_Sans/NunitoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/Nunito_Sans/NunitoSans-Black.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}


.active {
    color: #101010;
    font-weight: 500;
}

.container {
    max-width: 1096px;
}
a {
    color: inherit;
    text-decoration: none;
}
main {
    font-family: 'Objectivity', sans-serif;
}

.menu a
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    display: inline-block;
    margin: 0 25px;
    color: #6E7377;
    text-decoration: none;
}

.section-margin{
    margin: 120px 0px;
}

.my-120 {
    margin: 120px 0px;
}

.mt-120 {
    margin-top: 120px;
}

.my-60 {
    margin: 60px 0px;
}

.mt-60 {
    margin-top: 60px;
}

.bg-cover {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.DP img {
    height: 31px;
    position: relative;
}

/*Background*/
/* .explore {
    background-image: url('/images/index/bg.png');
    overflow: hidden;
    max-width: 100%;
}

.bg {
    background-image: url('/vector/Background.png');
    background-size: cover;
} */

.explore
{
    position: relative;
    z-index: 10;
    background: #101010;
    overflow: hidden;
}

.explore::after
{
    content: '';
    position: absolute;
    width: 950px;
    height: 550px;
    right: -450px;
    bottom: 300px;

    background: #24D5CB;
    transform: rotate(-118.01deg);
    opacity: 0.3;
    filter: blur(434px);
    z-index: -1;
}

.explore::before
{
    content: '';
    position: absolute;
    width: 850px;
    height: 600px;
    left: -250px;
    bottom: 0;

    background: #24D5CB;
     opacity: 0.3;
    filter: blur(434px);
    z-index: -1;
}


/*Explore section*/
.building {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.building h1 {
    font-size: 88px;
    font-weight: 800;
}

.building p {
    font-size: 18px;
    padding: 25px 0 25px 0;
    width: 100%;
    color: #969BA0;
}

.box {
    padding: 17px 40px;
    background: #FFFFFF;
    display: inline-flex;
    align-items: center;
    color: #101010;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


/*Our work section*/

.work-box {
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

.work3 {
    max-width: 710px;
    margin-bottom: 40px;
}

.work h2, .work1 h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    font-style: normal;
    color: #101010;
    margin-bottom: 40px;
}

.work p, .work1 p {
    font-family: 'Objectivity', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: var(--subtitle-color);
    line-height: 180%;
}

.work1 h3
{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #101010;
    margin-bottom: 20px;
}

.work-box ul {
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
.product-wrapper {
    height: 580px;
    overflow: hidden;

    cursor: pointer;
}

.box-bg
{
    height: 580px;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: bottom !important;
}

.spayee-bg {
    background-image: linear-gradient(157.88deg, #F6F6F9 14.45%, #E6E7EF 99.51%);
}

.finshots-bg {
    background-image: linear-gradient(157.88deg, #F6F9F8 14.45%, #E6EFEE 99.51%);
}

.dybo-bg {
    background-image: linear-gradient(157.88deg, #F6F8F9 14.45%, #E6EDEF 99.51%);
}

.eyentech-bg {
    background-image: linear-gradient(157.88deg, #F6F8F9 14.45%, #E6EBEF 99.51%);
}

.rain-pay-bg {
    background-image: linear-gradient(157.88deg, #F6F7F9 14.45%, #E6E9EF 99.51%);
}

.bakul-bg {
    background-image: linear-gradient(157.88deg, #F9F7F6 14.45%, #EFEAE6 99.51%);
}

.work-box {
    font-family: 'Nunito Sans', sans-serif;
}

.product-wrapper--text
{
    padding-left: 40px;
    padding-top: 40px;
}

.product-wrapper--title {
    font-weight: 600;
    font-size: 32px;
    color: #101010;
}

.product-wrapper--subtitle {
    font-family: 'Objectivity', sans-serif;
    font-weight: 400;
    color: var(--subtitle-color);
}

.work-box .content {
    margin-top: 40px;
    position: relative;
}

.view-all button{
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border: 1px solid #101010;
    background: none;
    display: block;
    padding: 16px 56px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #101010;
}


/*whatwedo section*/

.whatwedobg {
    background-image: url('/vector/Group 9311.png');
    background-size: cover;
}

.whatwedo .todo h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 48px;
}

.whatwedo{
    padding: 120px 0px;
}

.whatwedo-lists{
    margin-top: 70px;
    row-gap: 30px;
}
.whatwedo .row img {
    height: 50px;
    width: 50px;
}

.whatwedo .row h2 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 35px;
}

.whatwedo .row h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
    color: #969BA0;
    width: 210px;
}

.whatwedo .vertical-line {
    border-left: 1px solid rgba(150, 155, 160, 0.3);
    padding-left: 15px;
}

/*trusted section*/

.trusted .brands h2 {
    font-weight: 800;
    font-size: 48px;
    margin-top: 50px;
}


.brand-img {
    width: 100%;
    height: 123px;
    
    border: 1px solid #DFE1EC;
    border-radius: 4px;
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .trusted .work-box ul li .fitbg2 {
    height: 33px;
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted .work-box ul li .fitbg3 {
    height: 60px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

} */

/*Our What Clients Says*/
.clientsbg {
    background-color: #F9F9FB;
}

.clients {
    padding: 180px 0px;
    
}

.clients h2 {
    color: #101010;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 25px;
}

.clients-review {
    font-size: 20px;
    line-height: 180%;
    color: #101010;
    padding: 30px 0px;

}

.client-info{
    display: flex;
    align-items: center;
}

.client-info--img{
    margin-right: 40px;
}



.clients h3 {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
    color: #101010;
}

.clients h4 {
    font-size: 18px;
    line-height: 180%;
    color: #6E7377;
    position: relative;
}

.swiper-pagination-bullet
{
    width: 12px !important;
    height: 12px !important;
}

.swiper-pagination-bullet-active
{
    background: #101010 !important;
}

.swiper-pagination
{
    text-align: end !important;
}

/*Social media*/


.social-media {
    height: 50px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.social-media ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-media ul li {
    position: relative;
    list-style: none;
}

.social-media ul li a {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    margin: 0 25px;
    color: rgba(16, 16, 16, 0.24);
    text-decoration: none;
}


footer {
    width: 100%;
    background-color: #101010;
    color: #fff;

}

footer h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 68px;
}

footer h2 {
    font-family: 'Objectivity', sans-serif;
    font-style: normal;
    padding-top: 15px;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-size: 32px;
    line-height: 33px;
    text-decoration-line: underline;

}

.icon svg {
    background: rgba(250, 250, 250, 0.08);
    color: #E2E2E2;
    height: 18px;
    width: 18px;
    padding: 10px;
    font-size: 15px;
    margin-right: 25px;
    border-radius: 100%;
}

footer hr {
    color: rgba(150, 155, 160, 0.3);
    ;
}

footer .copyright p {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
    color: #9F9F9F;
    padding-bottom: 24px;
}


/*Start our team*/
/* .row
{
    position: relative;
    width: 100%;
    height: auto;
    color: #ffffff;
    padding-top: 10rem;
    font-family: 'Nunito Sans', sans-serif;
} */

.explore-image--heading {
    margin-top: 30px;
}

.explore-image--heading {
    font-family: 'Objectivity', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.explore-image--sub-heading {
    font-family: 'Objectivity', sans-serif;
    font-size: 18px;
    font-size: 300;
    letter-spacing: 1.1px;
    color: rgba(151, 151, 151, 1);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 62.4px;
    color: #fff;
    margin-bottom: 28px;
}

.about-paragraph {
    font-family: 'Objectivity', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgba(110, 115, 119, 1);
    margin-bottom: 32px;
}

.about-link {
    font-family: 'Objectivity';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.about-link a{
    margin-right: 45px;
}

.team .work-box .content {
    padding-top: 30px;
}

.content-box {
    margin-bottom: 80px;
}

.team .work-box .title1 {
    display: flex;
    padding: 15px 0px 0px 0px;
}

.team .work-box .title1 h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-right: 5px;
}

.team .work-box .title1 span {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.team .work-box .red {
    background: linear-gradient(157.88deg, #F9F7F6 14.45%, #EFEAE6 99.51%) !important;
}

.team .work-box .grey {
    background: linear-gradient(157.88deg, #F6F6F9 14.45%, #E6E7EF 99.51%) !important;
}

.work-box .blue {
    background: linear-gradient(157.88deg, #2F2475 14.45%, #1F184E 99.51%) !important;
}

.work-box .red1 {
    background: linear-gradient(157.88deg, #752455 14.45%, #561A3E 99.51%) !important;
}

.whatwedo1bg {
    padding: 120px 0px;
    background-image: url('/vector/bg.png');
    width: 100%;
    height: auto;
}

.whatwedo1 .todo h2,
.contact-head h2
{
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-weight: 800;
    font-size: 48px;
}

.whatwedo1 .work-box {
    margin-top: 100px;
}

.whatwedo1 .work-box .whatwedo-box .title1 {
    background-color: rgba(16, 16, 16, 0.44);
    padding: 32px 24px;
    box-sizing: border-box;
    min-height: 350px;
}

.whatwedo1 .work-box .title1 img {
    height: 50px;
    width: 50px;
}

.whatwedo1 .work-box .title1 h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 25px;
}

.whatwedo1 .work-box .title1 p {
    font-family: 'Objectivity', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #7A8085;
    margin-top: 25px;
}

.crafting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.crafting h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 88px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #101010;

}

.crafting p {
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #6E7377;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Objectivity', sans-serif;
}

.crafting ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting ul li {
    position: relative;
    list-style: none;
}

.crafting ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-right: 50px;
    color: #6E7377;
    text-decoration: none;
}

.crafting ul li.active a {
    color: #101010 !important;
}

.container ul li.red {
    background: linear-gradient(157.88deg, #F9F6F6 14.45%, #F5F0EF 99.51%) !important;
}


.trusted .great h2,
.featured .great h2 {
    font-weight: 800;
    font-size: 48px;
    margin-top: 50px;
}

.featured--subtitle {
    width: 700px;
    font-size: 18px;
    line-height: 180%;
    color: #6E7377;
}

.featured-list--container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 60px;
}

.featured-list--li {
    font-family: 'Nunito sans', sans-serif;
    width: 25%;
    border: 1px solid #DFE1EC;
    height: 190px;
    background: #fff;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99A0AE;
    text-align: center;
}

.featured-list--li.dark{
    background: #FCFCFD;
}


.building ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.building ul li {
    position: relative;
    list-style: none;
    padding-right: 90px;
}

.building ul li h2 {

    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    color: #ffffff;
}

.building ul li h3 {

    font-size: 18px;
    line-height: 180%;
    color: #969BA0;
    ;
}

/*Shop page*/
.shop-box{
    height: 580px;
    background-size: cover;
    padding: 40px;
    position: relative;
}

.shop-box--title{
    color: #fff;
    font-weight: 800;
}

.shop-box--price{
    color: #fff;
    padding: 10px 25px;
    border-radius: 100px;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 26px;
    background: rgba(255,255,255,0.2);
}

.shop-features{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    margin-top: 30px;
    padding: 0px;
}

.shop-features--li{
    font-size: 18px;
    font-family: 'Objectivity', sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.shop-features--li span{
    margin-right: 20px;
}

.shop-bottom-box{
    display: flex;
    position: absolute;
    bottom: 0px;
}

.shop-bottom-box p{
    margin-right: 20px;
}


.kit {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101010;
}

.kit h3{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}

.kit img {
    margin: 0px 12px;
}

/*Projects page*/

.project-header {
    
    color: #fff;
    padding-top: 60px;
   
}

/* .project-header .container{
    min-height: 300px;
} */

.bg1 {
    /* background: url('/vector/bg.png'); */
    background-size: cover;
}


.project-header--intro h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.project-header--intro p {
    font-family: 'Objectivity', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.building1 {
    height: 0;
    padding-top: 0;
    margin-top: 125px;
}

.building1 ul {
    background: #F4F7FA;
    justify-content: space-around;
    height: 158px;
}

.building1 ul li h2 {
    color: #101010;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
}

.team .project-box {
    width: 100%;
    height: 600px;
    margin-top: 250px;
    margin-bottom: 100px;
    background-color: #3A80FC;
    display: grid;
    justify-content: center;
    align-items: center;
}

.team .project-box h2 img {
    width: 40%;
    height: 90px;
    position: relative;
    left: 30%;
}

.team .project-box img {
    width: 800px;
    height: 300px;
    position: relative;
    top: 50px;
}

.team .wireframes {
    width: 100%;
    height: auto;
    background: #f9fbff;
    padding-left: 100px;
    padding-right: 100px;
}

.team .wireframes .row {
    padding-top: 0;
}

.team .wireframes img {
    width: 426.04px;
}

.team .wireframes .row .col h3,
.landing-page h3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
    padding-top: 100px;
    padding-left: 20px;
    color: #101010;
}

.team .wireframes .fitbg6 {
    height: 838.45px;
    margin-top: 60px;
}

.team .wireframes .fitbg7 {
    height: 235.89px;
}

.team .wireframes .fitbg8 {
    height: 797px;
}

.team .project-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.team .project-box1 img {
    width: 100%;
    height: 300px;
}

.fitbg9 {
    height: 315px;
    margin-bottom: 15px;
}

.fitbg10 {
    height: 325px;
}

.project-box3 {
    margin-top: 25px;
    margin-bottom: 50px;
}

.print-ads-list img, .player-list img{
    margin-top: 15px !important;
}

.web-ui-design {
    background: #1F184E;
    padding: 70px 50px 60px 70px;
}

.web-ui-row1,
.web-ui-row2 {
    display: flex;
    justify-content: space-between;
}

.web-ui-design .web-ui-row1 .web-ui-first h1,
.web-ui-design .web-ui-row2 .web-ui-third h2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #EFF1F4;
}

.web-ui-design .web-ui-row1 .web-ui-first p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 180%;
    color: #6E7377;
    width: 346.12px;
    height: 127px;
}

.fitbg11 {
    height: 150px;
    margin-top: 40px;
}

.fitbg12 {
    height: 485px;
    width: 525px;
}

.web-ui-design .web-ui-row2 .web-ui-fourth .web-ui-blue {
    height: 220px;
    width: 140px;
    background: #377dff;
    color: #F4F7FA;
    justify-content: center;
    align-items: center;
    display: flex;
}

.web-ui-design .web-ui-row2 .web-ui-fourth .web-ui-black {
    height: 220px;
    width: 140px;
    background: #1e2022;
    color: #F4F7FA;
    justify-content: center;
    align-items: center;
    display: flex;
}

.web-ui-fourth {
    display: flex;
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
}

.next-project {
    padding: 80px 592px;
    background: #F4F7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.next-project h3 {
    font-family: 'Objectivity', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.26em;
}

.next-project h1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: -0.02em;
    cursor: pointer;
}

/* .next-project i {
    font-size: 30px;
    color: #101010;
} */

.logofolio-bottom h1{
    color: #383C98;
    text-align: center;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.linked-in a:hover{
    color: #0e76a8;
}

.instagram a:hover{
    color: #833AB4;
}

.behance a:hover{
    color: #053eff;
}

.facebook a:hover{
    color: #4267B2;
}


.contactbg img
{
    background-size: cover;
    width: 100%;
}

.thank p
{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 180%;
    text-align: center;
    color: #383C98;
}

.contactus h2 {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -.01em;
}

.contactus h2, .contactus h6 {
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #fafafa;
}

.contactus p {
    font-family: Objectivity,serif;
    font-style: normal;
    font-weight: 400;
    color: hsla(0,0%,98%,.6);
    margin-top: 20px;
}

.contactus h6, .contactus p {
    font-size: 18px;
    line-height: 180%;
}

.contactus--form {
    background: #fff;
    padding: 40px;
    position: relative;
    font-family: Nunito Sans,serif;
    font-style: normal;
    font-weight: 600;
}
.contactus--form form {
    position: relative;
    height: 100%;
    background: #fff;
}
.contactus--form .form-group {
    margin-top: 40px;
    font-size: 18px;
}
.contactus--form .form-label {
    line-height: 25px;
    color: #101010;
}
.contactus--form .form-control {
    border-radius: 0;
    margin-top: 8px;
    padding: 20px;
    color: hsla(0,0%,6%,.25);
}
.contactus--form button[type=submit] {
    color: #000;
    padding: 18px 55px;
    border-radius: 0;
}
textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}
.success-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

@media (max-width: 500px){
    
    .navbar-toggler
    {
        background-color: #FFFFFF !important;
        opacity: .8;
    }
    .offcanvas-end
    {
        width: 65%;
    }
    .offcanvas-header
    {
        justify-content: end;
        padding: 1rem 2rem;
    }

    .section-margin {
        margin: 75px 0px;
    }

    .menu a
    {
        height: 50px;
    }
    .work-box ul li {
        margin: 20px 0px 0px 0px;
    }

    .whatwedo .work-box ul li {
        width: 168px;
        margin: 0px 14px 25px 0px;
    }

    .whatwedo .work-box ul li .title h3
    {
        width: 158px;
    }

    .trusted .brands h2
    {
        font-size: 40px;
    }

    .trusted .work-box ul li
    {
        width: 176px;
        margin: 0px 0px 20px 0px;
        height: 90px;
    }
    .clients {
        padding: 4rem 1rem !important;
    }
    .clients h2,
    .project-header--intro h1
    {
        font-size: 35px;
    }
    .project-header--intro
    {
        text-align: center;
    }

    .swiper-pagination
    {
        bottom: -8px !important;
    }

    .clients p
    {
        padding-top: 25px;
        font-size: 16px;
    }

    .clients h3
    {
        font-size: 16px;
    }
    .clients .fitbg5
    {
        margin-top: 335px;
    }
    .clients h4
    {
        font-size: 14px;
    }
    .client-info--img
    {
        width: 60px;
        height: 60px;
    }

    .product-wrapper,
    .box-bg
    {
        height: 465px;
    }
    .product-wrapper--text
{
    padding-left: 20px;
    padding-top: 20px;
}

    .social-media ul
    {
        padding: 0;
    }

    .social-media ul li a
    {
        font-size: 15px;
        margin: 0;
    }
    .box
    {
        padding: 13px 33px;
        font-size: 16px;
    }

    footer {
        padding: 30px 20px 30px 20px;
    }
    footer h1
    {
        height: 50px;
        font-size: 50px;
    }
    footer hr
    {
        top: 110px;
    }
    footer .copyright p
    {
        top: 125px;
    }
    footer .icon 
    {
        left: 0;
        float: left;
        margin-top: 30px;
    }
    
    footer h2
    {
        font-size: 25px;
    }
    .crafting h2
    {
        font-size: 60px;
    }
    .building h1 {
        font-size: 35px;
    }
    .building p {
        padding: 50px 0 25px 0;
        width: 96% !important;
        left: 0!important;
    }
    .building ul li {
        padding: 12px;
    }
    .building ul li h2
    {
        font-size: 25px;
    }
    .building ul li h3
    {
        font-size: 18px;
    }
    .trusted .great h2, .featured .great h2
    {
        font-size: 35px;
    }
    .featured .great p {
        width: 403px;
    }
    .featured .work-box ul
    {
        padding-left: 15px;
    }
    .featured .work-box ul li {
        width: 170px;
        margin: 0;
        height: 100px;
    }
    .explore .row .col-sm-6 p {
        width: 380px;
        padding-top: 45px;
        padding-left: 51px;
    }
    .whatwedo1 .work-box ul li
    {
        margin: 0;
        margin-bottom: 25px;
        padding: 20px;
        height: 365px;
    }
    .whatwedo1 .work-box .title1 p
    {
        width: 290px;
    }
    .team .work-box ul li
    {
        width: 142px;
        margin: 10px;
        height: 251px;
    }
    .team .work-box ul li .content img
    {
        width: 150px;
        height: 165px;
    }
    .team .work-box ul li .title1 h2
    {
        width: 150px;
    }
    .work h2, .work1 h2
    {
        font-size: 40px;
    }
    
    .project-header img
    {
        display: none;
    }
    .team .project-box
    {
        height: 416px;
    }
    .team .project-box img
    {
        width: 386px;
        height: 228px;
        top: 22px;
    }
    .team .wireframes
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .web-ui-design
    {
        padding: 70px 15px 60px 15px;
    }
    .fitbg12 {
        height: 435px;
        width: 375px;
    }

    .project-header .col-sm-12:nth-child(1){
        justify-content: center !important;
    }
    .project-header {
        padding-top: 25px;
    }

    .clientsbg 
    {
        padding: 0 !important;
    }

    .explore
    {
        padding: 220px 10px !important;
    }

    .explore1
    {
        padding: 80px 20px !important;
    }
    .whatwedo-lists
    {
        padding-left: 30px;
    }
    .featured-list--li
    {
        width: 50%;
        height: 130px;
    }
    .featured .great p,
    .crafting p
    {
        width: 360px !important;
    }
    .crafting ul li a
    {
        margin-right: 30px;
    }
    .building ul
    {
        padding-left: 0 !important;
    }

    .swiper-pagination
    {
        text-align: center !important;
    }
    .footer
    {
        display: block !important;
    }
    .projects-section
    {
        padding: 100px 15px !important;
    }

    .about-content
    {
        padding-left: 0px!important;
        margin-top: 35px;
    }
    .next-project
    {
        padding: 55px 40px;
    }

    .thank p
    {
        font-size: 30px;
    }
}
